<div class="form">
  <%= form_with(model: spartan, local: true) do |form| %>

    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :spartan_name, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :spartan_email, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :image %>
      <%= form.text_area :image, id: :spartan_image, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :bio %>
      <%= form.text_area :bio, id: :spartan_bio, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :course %>
      <%= form.text_area :course, id: :spartan_course, class: "form-control" %>
    </div>

    <% if current_spartan.admin && current_spartan != @spartan %>
      <div class="field">
        <%= form.label :admin %>
        <%= form.check_box :admin, id: :spartan_admin, class: "form-control" %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit class: "btn btn-secondary pointer"%>
    </div>
  <% end %>
</div>