<h1>Users</h1>
<% @spartans.each do |user| %>
  <div class = "tiled">
    <h2>Name: </h2><p><%= user.name %></p>
    <% if user.image %>
      <img src=""><%= user.image %></img>
    <% else %>
    <% end%>
    <h4>Bio: </h4>
    <p><%= user.bio %></p>
    <h4>Email: </h4>
    <p><%= user.email %></p>
    <td><%= link_to 'Show', '/u/#{user}' %></td>
    <td><%= link_to 'Edit', '/spartans/edit/user' %></td>
    <td><%= link_to 'Destroy', '/spartans', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
        
<% end %>