<!-- Show page for an individual spartan -->

<p>
  <h2><%= @spartan.name %></h2>
</p>

<!-- Displays a profile image of the user if there is one in the database, or a message if not -->
<% if @spartan.image %>
  <img src="<%= @spartan.image %>" alt="Profile image of this spartan."></img>
<% else %>
  <p>There is no image for this spartan. Could you please add one.</p>
<% end%>

<p>
  
  <%= @spartan.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @spartan.email %>
</p>

<!-- Link returns to the spartans index -->
<%= link_to 'Back', spartans_path %>