<div class="container">
  <!-- Header and "New Project" button in their own row for alignment purposes -->
  <div class="row">
    <h1 class="page_header col-auto mr-auto"><%= @header %></h1>
      <% if spartan_signed_in? %>
        <%= link_to 'New Project', new_project_path, class: "page_header btn col-auto" %>
      <% end %>
  </div>
  <!-- All projects are in cards which take up 4 columns of the bootstrap grid then 6 when small. They are all in one row. -->
  <div class="row">
    <% @projects.each do |project| %>
      <div class = "gutter col-md-4 col-sm-6">
        <div class="card">

          <h3><a href="/projects/<%= project.id %>"><%= project.name %></a></h3>
          <% if project.image %>
            <%= image_tag project.image, class: "project_image" %>
          <% end%>

        <!-- If the current user is a staff member they have access to links which edit or destroy projects -->
        <div class="card-footer bg-transparent">
          <a href="<%= project.url %>">Visit project</a>
          <% if spartan_signed_in? %>
            <%if current_spartan.admin || @project.spartans.map{|i| current_spartan.id == i.id }%>
               | <td><%= link_to 'Edit', edit_project_path(project) %></td> | 
              <td><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %> 
          </div>
        </div> 
      </div>
    <% end %>
  </div>
</div>

