<!-- Show page for an individual project -->
<p>
  <strong>Name:</strong>
  <a href="<%= @project.url %>"><%= @project.name %></a>
</p>

<!-- Displays a screenshot of the project if there is one in the database, otherwise displays a message -->
<% if @project.image %>
  <%= image_tag @project.image, class: "project_image", alt: "A screenshot of the game" %>
<% else %>
  <p>There is no image for this project. Could you please add one.</p>
<% end%>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Technologies:</strong>
  <%= @project.technologies %>
</p>

<!-- If current user signed in AND an admin, they can edit and destroy the project-->
<% if spartan_signed_in? %>
    <% if current_spartan.admin %>
		<%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> 
	<% end %>
<% end %>

<!-- Link to return to projects index -->
<p><%= link_to 'Back', projects_path %></p>
