<!-- Show page for an individual project -->
<div class= "show">
  <p>
    <h2>
      <a href="<%= @project.url %>"><%= @project.name %></a>
    </h2>
  </p>

  <!-- Displays a screenshot of the project if there is one in the database, otherwise displays a message -->
  <div class= "show_image">
    <% if @project.image %>
      <%= image_tag @project.image, class: "project_image", alt: "A screenshot of the game" %>
    <% else %>
      <p>There is no image for this project. Could you please add one.</p>
    <% end %>
  </div>

  <a href="<%= @project.url %>"><button type="button" class="btn btn-secondary">Visit Project</button></a>

  <br/>


  <div class= "show_content">
    <p>   
      <%= @project.summary %>
    </p>

    <p>
      <strong>Technologies:</strong>
      <%= @project.technologies %>
    </p>
    
    <p>
      <strong>Spartans:</strong>
      <ul>
        <% @project.spartans.each do |spartan| %>
          <li><%= spartan.name %></li>
        <% end %>
      </ul>
    </p>
  </div>
  <br/>
<!-- If the current user is a staff member they have access to links which edit or destroy projects -->
  <% if spartan_signed_in? %>
      <%if current_spartan.admin ||@project.spartans.map{|i| current_spartan.id == i.id }%>
        <td><%= link_to 'Edit', edit_project_path(@project) %></td>
        <td><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  <% end %>
  
  <br/>

  <!-- Link to return to projects index -->
  <div class= "back">
    <p><%= link_to 'Back', projects_path %></p>
  </div>
</div>