<!DOCTYPE html>
<html>
  <head>
    <title>Showme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><%= image_tag("sparta-logo.png", :alt => "sparta logo") %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Projects <span class="sr-only">(current)</span></a>
          </li>
          <% if spartan_signed_in? %>
            <% if current_spartan.admin %>
              <li class="nav-item">
                <a class="nav-link" href="/spartans">Spartans</a>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="hmenu">
          <%= render 'devise/menu/login_items' %>
          <%= render 'devise/menu/registration_items' %>

        </div>
      </div>
    </nav>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
